@font-face {
  font-family: "Hind";
  src: url("font/HindMadurai-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "BebasNeue";
  src: url("font/BebasNeue-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "MsMadi";
  src: url("font/MsMadi-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "Anton";
  src: url("font/Anton-Regular.ttf") format("TrueType");
}
body {
  background-color: #99d98c;
}
nav {
  background-color: #3f37c9;

  margin: 0 auto;
  width: 80%;
  border: #f7f6dc 2px solid;
  border-radius: 20px 20px 0px 0px;
}
h1 {
  color: #e6e5ed;
  text-align: center;
  margin: auto 0px;
  font-size: 3rem;
  font-family: "Hind", Verdana, Geneva, Tahoma, sans-serif;
}
.menu {
  list-style: none;

  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
menu a:hover {
  color: #f5e56c;
  font-size: 1.1em;
}
a {
  color: aliceblue;
  text-decoration: none;
}
hr {
  background-color: #0b1633;
  height: 4px;
  width: 80%;
  border: #0b1633 1px solid;
}
.article1 {
  width: 80%;
  max-width: 100%;
  margin: 5px auto;
  border: #5f6f94 dotted;
  border-radius: 20px;
}
.article1 h3 {
  font-family: "BebasNeue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 15px 15px 0px 15px;
}
.article1 p {
  font-family: "Hind", sans-serif;
  margin-top: 0px;
  padding: 0px 15px 15px 15px;
  margin-bottom: 0px;
}
.photoes div {
  border: #f72585 2px solid;
  border-radius: 20px;
  width: 50%;
  max-width: 300px;
  margin-top: 20px;
  background-color: #168aad;
}
.photoes p {
  font-family: "Hind";
}
.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6 {
  text-align: center;
  padding: 12px;
}
.photoes {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
}
footer {
  background-color: #3f37c9;

  margin: 0 auto;
  width: 80%;
  border: #f7f6dc 2px solid;
  border-radius: 0px 0px 20px 20px;
}
.credit {
  text-align: center;
}
.credit h2,
h3 {
  margin: 0;
}
.credit h2 {
  font-family: "MsMadi";
}
.credit h3 {
  font-family: "Hind";
  font-weight: 0;
}
.tab td,
.tab {
  border: #0b1633 2px solid;
  border-radius: 7px;
  text-align: center;
}
.tab {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: #168aad;
  font-size: 2em;
}
.tab td {
  background-color: #52b69a;
  color: #fcffeb;
}
.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 30%;
  max-width: 300px;
  padding: 5px;
  border: #0b0c0b dotted 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: #f5e56c;
  margin: 0 auto;
}
input,
textarea {
  width: 240px;
}
.submit {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  background-color: #168aad;
  color: #e6e5ed;
  width: 100%;
}
.dog {
  width: 80%;
  margin: 0 auto;
  border: #3f37c9 solid 2px;
  border-radius: 20px;
  font-size: 1.3em;
  background-color: #61838d;
  color: #e6e5ed;
}
.dog p,
h3,
.dogphoto {
  padding: 10px;
}
.dog img {
  width: 50%;
  margin-left: 25%;
}
